@font-face {
  font-family: Inter;
  src: url(../style/Inter.ttf);
}
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
} 
body {
  background-color: #FCEF98;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-index {
  padding: 50px 50px 50px 50px;
}


/* Nav */
.nav-hero {
  background-color: #FCEF98;
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content:space-between;
  padding: 0 50px 0 50px;
  flex-wrap: wrap;
  background-color:#FDFBF1 ;
}
nav .logo a{
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 600;
}
.menu{
  display: flex;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 550;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    font-size: 1.2rem;
  }
}
nav .menu-btn i{
  color: black;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
}
nav .ico-nav .menu-btn i{
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s ease;
}
.menu-desktop{
  display: block;
}
.ico-nav{
 display: flex;
 justify-content: space-between;
}

.ico-nav img{
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .ico-nav img:hover{
    width: 25px;
    height: 25px;
  }
  .search label img:hover{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .ico-nav img:hover{
    width: 25px;
    height: 25px;
  }
}
.search label img{
  display: flex;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s ease;

}
.ico-menu-mobile {
  display: none;
 }
.search{
  justify-content: space-between;
  align-items: center;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search input{
  min-width: 300px;
  min-height: 30px;
  background-color: transparent;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  Transition: all 0.3s ease;
  outline: none;
}

#click {
  display: none;
}
#search {
  display: none;
}

#search:checked ~ nav #menu .search-fn{
 display: none;
 }
#search:checked ~ nav #menu .search{
  display: flex;
}

@media (max-width: 1000px){
  nav{
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 800px) {
   .ico-menu-mobile {
    display: block;
   }
   .ico-menu-mobile input{
    min-height: 50px;
    align-items: center;
    width: auto;
    background-color: #FCEF98;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    Transition: all 0.3s ease;
    outline: none;
    min-width: 125px !important;
   }
   .menu-btn{
    margin-left: 3px;
   }
   .menu-desktop{
    display: none;
  }
  nav .ico-nav-mobile .menu-btn{
    margin-left: 8px;
    display: block;

  }

  #click:checked ~ nav{
   background-color: #FCEF98;
  }
  
  #click:checked ~ nav .menu-btn i:before{
    content: "\f00d";
  }
 
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #FCEF98;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ nav ul{
    background-color: #FCEF98;
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 1rem;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ nav ul li a{
    margin-left: 0px;
  }
  #click:checked ~ .content-index{
    display: none;
  }
  #click:checked ~ .content{
    display: none;
  }
  #click:checked ~ .product-details{
    display: none;
  }
  #click:checked ~ footer{
    display: none;
  }


  @media (hover: hover) and (pointer: fine) {
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    font-size: 1.2rem;
  }}
  .search{
    display: block !important;
  }
  .search-fn{
    display: block !important;
    }
}

/* Nav */

/* Content */

/*product-detail*/

.product-details {
  display: flex;
  justify-content: space-around;
  padding: 30px 30px;
  background-color: #FDFBF1;
  /* border: solid; */
  padding-bottom: 5%;
  flex: 1;
  gap: 50px;
}
.txt1 {
  font-weight: 200;
  font-size: 0.8rem;
}
.txt2{
  font-weight: 500;
  font-size: 2.5rem;
  color: #404040;
  margin-bottom: 20px;
}
.txt3{
  font-weight: 500;
  font-size: 1rem;
  color: #141414;
  margin-bottom: 10px;
}
.txt4{
  font-weight: 400;
  font-size: 1rem;
  color: #404040;
  margin-bottom: 20px;
}
.txt5{
  color: #141414;
  font-size: 0.8rem;
  font-weight: 550;
  margin-top: 10px;
  margin-bottom: 10px;
}
.txt6{
  color: #141414;
  font-size: 0.8rem;
  font-weight: 550;
  margin-bottom: 15px;
}
.txt7{
  font-weight: 500;
  font-size: 1rem;
  color: #404040;
  margin-bottom: 20px;
  margin-top: 20px;
  /* border: solid; */
}
.txt8{
  font-weight: 500;
  font-size: 1rem;
  color: #404040;
  margin-bottom: 20px;
  margin-top: 20px;
  /* border: solid; */
}
.angleDown{
  width: 20px;
  height: 20px;
  /* border: solid; */
}
.angleDown img {
  width: auto;
  height: 100%;
}
.box1 {

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  width: 100px;
  height: 120px;
  /* border: solid; */
  border-radius: 15;
}
.item1 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
  object-fit: cover;
}
.item2 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
  object-fit: cover;
}
.item3 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
  object-fit: cover;
}
.item4 img{
  display: none;
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
  object-fit: cover;
}
.box2 {
  display: flex;
  height: 600px;
  /* border: solid; */
  border-radius: 15;

}
.box2 img{
  width: 450px;
  height: 600px;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 5%;
  object-fit: cover;
}
.box3 {
  display: flex;
  /* border: solid; */
  flex-direction: column;
}
.box4 {
  display: flex;
  justify-content: space-between;
  /* border: solid; */
  align-items: center;
}
.photo {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
}
.bt {
  display: flex;
  gap: 20px;
  /* border: solid; */
  margin-bottom: 20px;
}
.photo{
  /* border: solid; */
  display: flex;
}
.photo1{
  border: grid;
  width: 50px;
  height: 50px;
}
.photo1 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
  object-fit: cover;
}

.b1{
  width: 20%;
  min-width: 98px;
  padding: 12px 0 12px 0;
  border: solid 1px #76680E;;
  border-radius: 25px;
  text-align: center;
}
.b2{
  width: 20%;
  min-width: 98px;
  padding: 12px 0 12px 0;
  border: solid 1px #76680E;;
  border-radius: 25px;
  text-align: center;
}
.b3{
  width: 100%;
  background-color: #76680E;
  border: solid 1px #76680E;;
  border-radius: 15px;
  text-align: center;
  max-height: 50px;
  padding: 10px 0 10px 0;
  margin-bottom: 35px;
}
.b3 a {
  color: white;
  /* padding: 8px 16px; */
  /* border: solid; */
  font-weight: 500;
  border-radius: 15;
  text-decoration: none;
}
@media (max-width: 1200px){
  .box2 {
    /* border: solid; */

    height: auto;
  }
  .b1{
    width: 20%;
  }
  .b2{
    width: 20%;
  }
  .b3{
    width: 100%;
    max-height: 50px;
    padding: 7px 0 7px 0;
  }
}
@media (max-width: 950px) {
  .product-details{
    flex-direction: row;
  }
  main{
    flex-wrap: wrap;
  }
  .box1{
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
  }
  .box2{
    order: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .box3{

    order: 3;
  }
}
@media (max-width: 610px) {
  .product-details{
    flex-direction: row;
  }
  main{
    display: inline-block;
  }
  .box1{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .b1{
    width: 20%;
  }
  .b2{
    width: 20%;
  }
  .b3{
    width: 100%;
  }
  .box2 img {
    width: 350px;
    height: 500px;
  }
}
@media (max-width: 550px) {
  .product-details{
    flex-direction: row;
  }
  .box1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .box2 img {
    width: 250px;
    height: 400px;
  }
}
 @media (max-width: 300px) {
  .product-details{
    flex-direction: row;
  }
  .box2{
    height: 400px;
  }

  .box2 img {
    width: 150px;
    height: 300px;
  }
 }

/*product-detail*/


/*hero*/
.section-hero {
  background-color: #FCEF98;
  padding: 2rem 0 2rem 0;
}

.hero {

  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3rem;
  margin: 0 auto;
  align-items: center;
}

.heading-primary {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  font-weight: 900;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.6rem;
  text-align: left;
}

.hero-description {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  text-align: left;
  font-weight: 500;
}

.hero-img {
  width: 80%;
  height: auto;
}
.hero-img-box{
  display: flex;
  justify-content: center;
}
.buy-btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  border: none;
  cursor: pointer;
  /* margin-top: 4.8rem; */
  padding: 1rem 3.2rem;
  text-decoration: none;
  border-radius: 20px;
  transition: all background-color 500ms;
}

.btn--fill:link,
.btn--fill:visited {
  background-color: #76680E;
  color: #fff;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
.btn--fill,
.btn--fill:active {
  background-color: #9c903f;
  text-decoration: underline;
  text-decoration: none;
}
}
.hero-contact{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0.1rem;
  margin-right: 2rem;
  gap: 0.5rem;
}

.hero-contact p{
  font-size: 1rem;
  font-weight: 500;

}
.hero-contact a img{
  height: 25px;
  display: block;
}
@media only screen and (max-width: 1080px) {
  .heading-primary {font-size: 1.9rem;}
  .hero-description {font-size: 1.4rem;}
  .buy-btn {
      font-size: 1rem;
      padding: 0.5rem 2.2rem;
    }
}

@media only screen and (max-width: 800px) {
  .heading-primary {font-size: 1.5rem;}
  .hero-description {font-size: 1rem;}
  .buy-btn {
      font-size: 1rem;
      padding: 0.5rem 2.2rem;
    }

    .hero{
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
    .hero-img{
      width: 60%;
    }
    .heading-primary {
      margin-bottom: 1.5rem ;
    }
    .hero-contact a img{
      height: 20px;
      display: block;
    }
}
/*new arrival brose*/
.new-arrival-browse{
  display: flex;
 flex-direction: column;
 margin-bottom: 30px;
}
.browse-scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.browse-scrolling-wrappe::-webkit-scrollbar {
    display: none;
}
.browse-scrolling-wrapper .card{
  flex: 0 0 auto;
  margin: 0 1em 1.5em;
  height: 25em;
  width:15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-decoration: none;
  background-color: #D9D9D950;
  border-radius: 25px;
}

.browse-scrolling-wrapper .card-view-all h6{
  text-align: center;
  font-size: 0.9rem;
  font-weight: 580;
  background-color: rgba(217, 217, 217, 0.565);
  color: #474747;
  border-radius: 25px;
  padding: 12px 0;
  width: 7rem;
}
.browse-scrolling-wrapper .card-view-all h6:hover{
  background-color: #bcbbbb90;
}
.browse-scrolling-wrapper .card-view-all , .browse-scrolling-wrapper .card-view-all:hover{
  background-color: transparent;
}
.browse-scrolling-wrapper .card .mainimage img {
  width: 100%;
  height: 105%;
  background: transparent;
}
.browse-scrolling-wrapper .card h4 {
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
  word-wrap: break-word;
  padding: 0.5em;
  margin-top: 2em;
  text-align: left;
}
.browse-scrolling-wrapper .card .infoproduct {
  font-size: 0.7em;
  font-weight: 250;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.browse-scrolling-wrapper .card .price {
  font-size: 0.75em;
  font-weight: 500;
  text-align: left;
  word-wrap: break-word;
  padding: 0.5em;
  text-align: left;
}
.top-new-arrival-browse{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.new-arrval-scroll-btn button{
  background-color: #D9D9D990;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: #474747;
  padding: 10px 30px;
}
.new-arrval-scroll-btn button:hover{
  background-color: #bcbbbb90;
}
@media (hover: hover) and (pointer: fine) {
  .browse-scrolling-wrapper .card-view-all{
    background-color: transparent;
  }
  .browse-scrolling-wrapper .card{
    background: transparent;
  }
  .browse-scrolling-wrapper .card:hover{
    background-color: #D9D9D950;
  }
  .browse-scrolling-wrapper .card-view-all , .browse-scrolling-wrapper .card-view-all:hover{
    background-color: transparent;
  }
  }

@media (max-width: 800px){
  .new-arrval-scroll-btn button{
    font-size: 1.2rem;
    padding: 10px 15px;
  }
}
@media (max-width: 650px){
  .new-arrval-scroll-btn button{
    font-size: 1.2rem;
    padding: 10px 15px;
  }
}
@media (max-width: 500px){
  .browse-scrolling-wrapper .card {
    height: 20em;
    width: 11em;
  }
  .new-arrval-scroll-btn{
    display: none;
  }
  .top-new-arrival-browse{
    display: block;
  }

}

/*card-category*/
.content-index{
  width: 100%;
  color: #1b1b1b;
  background-color: #FDFBF1;
}
.content-index h3{
font-size: 1.2rem;
 font-weight: 600;
 color: #404040;
}
.category-browse h3 {
  margin-bottom: 30px;
}
.category-card {
  display: grid;
  justify-content: space-around;
  grid-template-columns:auto auto auto auto;
}
.category-card-element {
margin: 0 1em 1.5em;
height: 17em;
width: 15em;
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 25px;
background-color: #2b2b2b30;
}

.category-card-element img {
  width: 100%;
  object-fit: fill; 
}
.category-card-element-title {
display: block;
font-size: 1.6rem;
font-weight: 800;
color: #ffffff;
position:absolute;
text-shadow: 1px 1px 2px #9c9c9a;
}

.category-card-hpl{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .category-card-element{
    background-color: transparent;
  }
.category-card-element:hover{
  background-color: #2b2b2b30;
}
.category-card-element-title {
  display: none;
}
.category-card-element:hover > .category-card-element-title{
  display: block;
}
}
@media (max-width: 1250px)
{
  .category-card {
    grid-template-columns:auto auto auto;
  }
} 
@media (max-width: 900px)
{
  .category-card {
    grid-template-columns:auto auto;
  }
}

@media (max-width: 650px)
{
  .category-card-element-title{
    font-size: 1.2rem;
  }
  .category-card-element{
    width: 12em;
    height: 17em;
  }
}
@media (max-width: 500px){
  .category-card-element-title{
    font-size: 0.9rem;
  }
  .content-index h3{
    text-align: center;
  }

  .category-card-element{
    height: 11em;
    width: 8.5em;
  }
}
@media (max-width: 350px)
{
  .category-card {
    grid-template-columns: auto;
  }
}

/*home-content*/
.content{
  text-align: center;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
  background-color: #FDFBF1;
  flex: 1;
  
}
.content div{
  font-size: 1.5rem;
  font-weight: 700;
}
.content .card-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-between;
  padding: 0 1em 1em 1em;
}

.content .card-container .card{
  background: transparent;
  margin :0 1em 1.5em;
  height: 17.3em;
  width: 10.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}
.content .card-container .card:link{
  text-decoration: none;

}

.content .card-container .card:visited{
  color: black;
}

.content .card-container .card .mainimage{
  background:transparent;
  padding: 0.8em;
}
.content .card-container .card .mainimage img{
  width: 100%;
  height: 105%;
  background: transparent;
}
.content .card-container .card:hover .mainimage{
  padding: 5px;  
}

.content .card-container .card:hover h4{
  text-decoration: underline;
}

.content .card-container .card:hover .mainimage img{
  border-radius: 25px;
  background-color: #D9D9D940;
}

.content .card-container .card h4{
  flex :2;
  font-size: 0.56em;
  text-align: left;
  word-wrap: break-word;
  padding: 0.5em;
  margin-top: 1em;
  text-align: left;
}
.content .card-container .card .infoproduct
{
  font-size: 0.56em;
  font-weight: lighter;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.content .card-container .card .price{
  font-size: 0.56em;
  text-align: left;
  word-wrap: break-word;
  padding: 0.5em;
  text-align: left;
}
.content .card-container .card .containimg{
  display: flex;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.content .card-container .card .containimg img{
  width: 1.8em;
}

.topfilter{
  display: flex;
  flex-direction: column;
  margin-left: 6em;
  margin-right: 6em;
  padding: 3em 3em 1em 2em;
}

.topfilter h3{
  font-size: 1.8em;
  text-align: left;
  margin-bottom: 0.5em;
}

.topfilter .row{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
.topfilter .row ul{
  padding: 0px;
  margin-top: 10px;
  align-items: left;
  display:flex;
  list-style: none;
}
.topfilter .row h4{
  font-size: 0.7em;
  padding-top: 0.4em;
  
}

.topfilter .row ul li{
  font-weight: lighter;
  font-size: 0.5em;
  text-align: left;
  padding: 0px 15px 0px 0px;
}
.topfilter .row ul li img{
  width:1em;
  margin-left: 0.3em;
}

@media (max-width:1585px)
{
  .content .card-container{
    margin:0 6% 0 ;

  }
  .content .card-container .card{
    margin :0 0 1.5em;
    height: 15.2em;
    width: 9.5em;
  }
  .content .card-container .card h4{
    font-size: 0.5em;
  }
  .content .card-container .card .infoproduct
  {
    font-size: 0.5em;  
  }
  .content .card-container .card .price{
    font-size: 0.5em;
  }
  .topfilter{
    margin-left: 2em;
    margin-right: 4em;
    padding: 3em 1.5em 1em 2em;
  }
  .topfilter .row h4{
    font-size: 0.45em;   
  }
  
  .topfilter .row ul li{
    font-size: 0.48em;
  }
  .topfilter h3{
    font-size: 1.5em;
  }
}

@media (max-width: 1250px)
{
  .content .card-container{
    margin:0 4% 0 ;

  }
  .content .card-container .card{
    margin :0 0 1.5em;
    height: 13em;
    width: 8em;
  }
  .content .card-container .card h4{
    font-size: 0.45em;
  }
  .content .card-container .card .infoproduct
  {
    font-size: 0.45em;  
  }
  .content .card-container .card .price{
    font-size: 0.45em;
  }
  .topfilter{
    padding: 3em 3em 1em 2em;
    margin: 0;
  }
  .topfilter .row h4{
    font-size: 0.5em;   
  }
  
  .topfilter .row ul li{
    font-size: 0.45em;
  }
  .topfilter h3{
    font-size: 1.2em;
  }
  .content .card-container .card .containimg img{
    width: 1.3em;
  }
}

@media (max-width: 965px)
{
  .content .card-container{
    margin:0 3% 0 ;

  }
  .content .card-container .card{
    margin :0 0 1.5em;
    height: 11em;
    width: 6.5em;
  }
  .content .card-container .card h4{
    font-size: 0.36em;
  }
  .content .card-container .card .infoproduct
  {
    font-size: 0.36em;  
  }
  .content .card-container .card .price{
    font-size: 0.36em;
  }

  .topfilter .row h4{
    font-size: 0.5em;   
  }
  
  .topfilter .row ul li{
    font-size: 0.45em;
  }
  .topfilter h3{
    font-size: 1.2em;
  }
}
@media (max-width : 840px)
{
  .content .card-container{
    grid-template-columns: auto auto auto;
  }
}
@media (max-width : 730px)
{
  .topfilter .row ul{
    display: none;
  }
  .topfilter .row{
    justify-content: flex-end;
  }
}
@media(max-width:630px)
{
  .content .card-container{
    grid-template-columns: auto auto;
  }
  .topfilter{
    padding: 0;
    margin-top: 2em;
  }
  .topfilter h3{
    text-align: center;
  }
}
@media(max-width:400px)
{
  .content .card-container{
    padding : 0;
  }
}
@media(max-width:350px)
{
  .content .card-container .card {
    height: 9em;
    width: 4em;
  }
}


/* Content */

/* Footer */
footer {
  background-color: #FCEF98;
  color: rgb(16, 16, 16);
  padding: 50px 0;
}

.f_container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  text-align: center;
  width: 25%;
}

.footer-section h4 {
  margin-bottom: 20px;
  font-size: 1rem; 
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: rgb(16, 16, 16);
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-section ul li a img {
  width: 20px;
}

.contact-footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 2rem;
}
/* 2 row */
@media only screen and (max-width: 800px) {
  .footer-section {
    width: 50%;
    margin-bottom: 1rem;
  }

  .footer-section h4 {
    font-size: 0.8rem;
  }
  .footer-section ul li a {
    font-size: 0.7rem;
  }

}

/* 1 row 
@media only screen and (max-width: 767px) {
  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }
}*/

/* Footer */