@font-face {
  font-family: Inter;
  src: url(/style/Inter.ttf);
}
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
} 
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Nav */
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content:space-between;
  padding: 0 50px 0 50px;
  flex-wrap: wrap;
  background-color: #FDFBF1;
}
nav .logo a{
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 550;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  font-size: 1.2rem;
}
nav .menu-btn{
  display: none;
}
nav .menu-btn i{
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.ico-nav{
 display: flex;
 justify-content: space-between;
}

.ico-nav img{
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.ico-nav-mobile{
  display: none;
}
.ico-nav-mobile img{
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
#ico-profile {
  display: none;
 }
#click {
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 800px) {
  .ico-nav{
    display: none;
   }
  .ico-nav-mobile{
    display: flex;
    justify-content: space-between;
   }
   #ico-profile {
    display: block;
   }
  nav .ico-nav-mobile .menu-btn{
    margin-left: 8px;
    display: block;
  }
  #click:checked ~ nav{
   background-color: #FCEF98;
  }
  nav .ico-nav-mobile .menu-btn i{
    display: block;
  }
  #click:checked ~ nav .menu-btn i:before{
    content: "\f00d";
  }
 
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #FCEF98;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ nav ul{
    background-color: #FCEF98;
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 1rem;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ nav ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    font-size: 1.2rem;
  }
}

/* Nav */

/* Content */
.content{
  text-align: left;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
  background-color: #FDFBF1;
  flex: 1;
  
}
.content div{
  font-size: 1.5rem;
  font-weight: 700;
}
.topic a{
  font-size: 2vw;
}
main {
  display: flex;
  background-color: #FDFBF1;
  /* border: solid; */
  padding-bottom: 5%;
}
.text {
  margin-top: 2rem;
  margin-left: 2rem;
}
.box1 {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  width: 100px;
  height: 120px;
  /* border: solid; */
  border-radius: 15;
}
.item1 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
}
.item2 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
}
.item3 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
}
.item4 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
}
.box2 {
  display: flex;
  flex: 1 50% 45%;
  height: 600px;
  /* border: solid; */
  border-radius: 15;
  margin-top: 2rem;
  margin-left: 5rem;
}
.box2 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 5%;
}
.box3 {
  margin-top: 2rem;
  margin-left: 8rem;
  display: flex;
  /* border: solid; */
  flex-direction: column;
  gap: 20px;
}
.photo {
  display: flex;
}
.bt {
  display: flex;
  gap: 20px;
  /* border: solid; */
}
.photo{
  /* border: solid; */
  display: flex;
  height: 100px;
}
.photo1{
  border: grid;
  width: 80px;
}
.photo1 img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
}
.b1{
  width: 10%;
  border: solid 1px #76680E;;
  border-radius: 15px;
  text-align: center;
}
.b2{
  width: 10%;
  border: solid 1px #76680E;;
  border-radius: 15px;
  text-align: center;
}
.b3{
  width: 20%;
  background-color: #76680E;
  border: solid 1px #76680E;;
  border-radius: 15px;
  text-align: center;
}
.b3 a {
  color: white;
  /* padding: 8px 16px; */
  /* border: solid; */
  border-radius: 15;
}
@media (max-width: 1200px){
  .box2 {
    /* border: solid; */
    width: 70%;
    height: auto;
  }
  .b1{
    width: 20%;
  }
  .b2{
    width: 20%;
  }
  .b3{
    width: 40%;
  }
}
@media (max-width: 950px) {
  main{
    flex-wrap: wrap;
  }
  .box1{
    flex-direction: row;
    margin-left: 8rem;
    margin-right: 2rem;
    flex-wrap: wrap;
    order: 2;
  }
  .box2{
    margin-right: 2rem;
    order: 1;
  }
  .box3{
    margin-right: 2rem;
    order: 3;
  }
}
@media (max-width: 610px) {
  main{
    display: inline-block;
  }
  .box1{
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 2rem;
    flex-wrap: wrap;
  }
  .b1{
    width: 20%;
  }
  .b2{
    width: 20%;
  }
  .b3{
    width: 40%;
  }
}
@media (max-width: 550px) {
  .box1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-right: 5rem;
  }
}
 @media (max-width: 300px) {
  .box2{
    height: 400px;
  }
 }


/* .information{
  margin-top: 1%;
  display: flex;
  height: 700px;
  padding-bottom: 1%;
}
.item1{
 width: 6%;
 height: auto;
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.picture{
  width: 100%;
  height: 130px;
  background-color: rgb(252, 246, 246);
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
}
.picture img{
  width: 100%;
  height: auto;
  border-radius: 15%;
}
.item2{
  width: auto;
  height: auto;
  margin-left: 5%;
}
.mainImg{
  width: 100%;
  height: auto;
  background-color: rgb(252, 246, 246);
  border-style: inset;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 7%;
}
.mainImg img{
  width: 100%;
  height: auto;
  border-radius: 15%;
}
.item3{
  margin-left: 3%;
  width: auto;
}
.item3 h6{
  font-size: 2vw;
}
.item3 a{
  font-size: 2vw;
}
.line{
  margin-top: 3%;
  width: 90%;
  border: thin solid rgb(177, 171, 169);
}
.line1{
  width: 60%;
  border: thin solid rgb(177, 171, 169);
}
.item3 p{
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 2vw;
}
.color{
  padding-top: 2%;
  width: 27%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.otherColor{
  width: 45%;
  height: auto;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
  justify-content: space-between;
}
.otherColor img{
  width: 100%;
  height: 100%;
  border: solid 1px;
  border-color: rgb(177, 171, 169);
  border-radius: 15%;
}
.select{
  width: 25%;
  display: flex;
}
.selectSize{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: space-between;
}
.size{
  width: 100px;
  height: 30px;
  border: solid 1px #76680E;;
  border-radius: 15px;
  text-align: center;
}
.add{
  margin-top: 1%;
  width: 25%;
}
.addItem{
  margin-top: 10%;
  width: 100%;
  height: 30%;
  background-color: #76680E;
  border: solid #76680E;;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30%;
}
.addItem p{
  color: white;
  font-size: 2vw;
}
.angleDown{
  padding-top: 1%;
  margin-left: 40%;
  width: 20px;
  height: 30px;
}
.angleDown img{
  width: 100%;
  height: 100%;
}
.angleDown1{
  padding-top: 1%;
  margin-left: 44.5%;
  width: 20px;
  height: 30px;
}
.angleDown1 img{
  width: 100%;
  height: 100%;
}
.Defi{
  display: flex;
}
@media (max-width:1600px){
  .color{
    width: 27%;
    height: auto;
  }
  .picture{
    width: 100px;
    height: 130px;
  }
  .picture img{
    width: 90px;
    height: auto;
  }
}
@media (max-width:1500px){
  .color{
    width: 27%;
    height: auto;
  }
  .picture{
    width: 100px;
    height: 130px;
  }
  .picture img{
    width: 100%;
    height: 100%;
  }
}

@media (max-width:1450px){
  .picture{
    width: 100px;
    height: 126px;
    display: flex;
    flex-direction: row;
    order: 2;
  }
  .picture img{
    width: 100px;
    height: 120px;
  }
  .mainImg img{
    width: 300px;
    height: 400px;
    order: 1;
  }
  .information{
    height: 650px;
  }
}

@media (max-width:1300px){
  .information{
    height: 580px;
  }
}

@media (max-width:1060px){
  .mainImg{
    order: 1;
  }
  .item1{
    width: 100px;
    height: 600px;
    display: flex;
  }
  .picture{
    width: 88px;
    height: 120px;
    display: flex;
  }
  .picture img{
    width: 100%;
    height: 100%;
    order: 1;
  }
  .addItem {
    width: 100px;
    height: auto;
  }
  .Defi{
    width: 300px;
  }
  .angleDown{
    margin-left: 120px;
  }
  .angleDown1{
    margin-left: 145px;
  }
  .line1{
    width: 65%;
  }
  .item3{
    width: 100%;
    height: 100%;
  }
}

@media (max-width:795px){
  .information{
    flex-wrap: wrap;
    margin-bottom: 100%;
  }
  .item1 {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: auto;
    margin-bottom: 3%;
    order: 2;
    padding-left: 3%;
  }
  .item2 {
    margin-bottom: 3%;
    order: 1;
  }
  .item3 {
    order: 3;
  }
  .line1{
    width: 230px;
  }
  .angleDown img {
    width: 19px;
    height: 20px;
  }
  .angleDown1 img {
    width: 19px;
    height: 20px;
    margin-left: 10px;
  }
  .addItem {
    width: 200px;
  }
}
@media (max-width:450){
  
} */
/* Content */

/* Footer */
footer {
  background-color: #FCEF98;
  color: #1E1E1E;
  padding: 50px 0;
  bottom: 0;
  width: 100%;
}

footer .f_container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
}

.footer-section {
  text-align: left;
  width: 25%;
  margin-left: 5vw;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #1E1E1E;
  text-decoration: none;
  font-size: 0.7rem;
 
}
/* Footer */